.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: (26/13);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $btn-color;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 5px 5px 0 rgba($btn-color, 0.3);
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled,
  &--disabled {
    opacity: 0.7;
    background-color: $btn-color--disabled;
    cursor: default;
    pointer-events: none;
  }
}
