.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $screen-md) {
    width: 728px;
  }

  @media (min-width: $screen-lg) {
    width: ($screen-lg - 150px);
    padding: 0 75px;
  }
}
