.container {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $screen-md) {
    width: ($screen-md - 40px);
  }

  @media (min-width: $screen-lg) {
    padding-left: 0;
    padding-right: 0;
    width: ($screen-lg - 148px);
  }
}
