.slider-indicator {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-indicator__item {
  display: block;
  width: 6px;
  height: 6px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: #ddd;

  &--active {
    width: 8px;
    height: 8px;
    background-color: $btn-color;
  }

  &--more {
    width: 4px;
    height: 4px;
  }
}
