$font-main:                  'Ubuntu', Arial, sans-serif;
$font-title:                 'Playfair Display', Georgia, serif;
$font--script:               'Marck Script', 'Comic Sans MS', cursive;

$screen-sm:                   320px;
$screen-md:                   768px;
$screen-lg:                   1366px;
$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;

$font-size:                   19px;
$font-size--lg:               24px;
$font-size-title:             32px;
$font-size-title--md:         37px;
$font-size-title--lg:         53px;

$line-height:                 (24/19);
$line-height--lg:             (32/19);
$line-height-title:           (87/32);
$line-height-title--md:       (45/37);
$line-height-title--lg:       1;

$black:                      hsl(0, 0%, 0%);
$white:                      hsl(0, 0%, 100%);

$text-color:                 #2d2829;
$link-color--hover:          #f50049;

$btn-color:                  #f50049;
$btn-color--disabled:        #898989;
$icon-color:                 $btn-color;
$order-steps-color:          $btn-color;
$body-bgn-color:             #fbebea;
$how-order-bgn-color:        #e3353d;
$menu-bgn-color:             #e7e7e7;
$footer-bgn-color:           #898989;

$z-index--menu-popup:        10;
